.capitalized {
    text-transform: capitalize;
}

.small {
    min-height: 1%;
    min-width: 1%;
    margin-top: 18px;
    height: 35px;
    width: 35px;
}

#pre_text {
    height: auto;
    width: 400px;
    max-height: 600px;
    max-width: 700px;
    min-height: 200px;
    min-width: 500px;
    overflow: auto;
    /*overflow-y: none;*/
    background-color: #ffffff;
}

md-list{
    min-width: 800px;
    max-width: 800px;
}

md-list.make-scrollable {
    height: 600px; //Or any other height you wish
    overflow-y: scroll;
}