<div class="container">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Pretraga knjiga</span>
                <span class="md-subhead">Unesite prefikse, parametre i logičke operatore a zatim kliknite na dugme "Pretraži".</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <div layout="row" layout-align="center">
                <md-input-container flex="30">
                    <label>Prefiksi</label>
                    <md-select name="favoriteColor" ng-model="favoriteColor">
                        <md-optgroup label="Prefiksi">
                        <md-option value="red">Prefiks 1</md-option>
                        <md-option value="blue">Prefiks 2</md-option>
                        <md-option value="green">Prefiks 3</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                    <label>Parametar</label>
                    <input>
                </md-input-container>

                <md-input-container>
                    <label>Operator</label>
                    <md-select ng-model="">
                        <md-option><em>AND</em></md-option>
                        <md-option><em>OR</em></md-option>
                    </md-select>

                </md-input-container>

                <md-button class="small">
                    <md-icon>clear</md-icon>
                </md-button>
            </div>

            <div layout="row" layout-align="center">
                <md-button class="md-raised md-primary capitalized">Pretraži</md-button>
                <md-button class="md-primary capitalized">Istorija pretrage</md-button>

            </div>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Dodavanje prefiksa</span>
                <span class="md-subhead">Izaberite neki od prefiksa iz padajuće liste i kliknite "Dodaj".</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <div layout="row" layout-align="center">
                <md-input-container flex="30">
                    <label>Prefiksi</label>
                    <md-select name="favoriteColor" ng-model="favoriteColor">
                        <md-optgroup label="Prefiksi">
                        <md-option value="red">Prefiks 1</md-option>
                        <md-option value="blue">Prefiks 2</md-option>
                        <md-option value="green">Prefiks 3</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="row" layout-align="center">
                <md-button class="md-raised md-primary capitalized">Dodaj</md-button>
            </div>
        </md-card-content>
    </md-card>

</div>