<div class="container">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Pretraga knjiga</span>
                <span class="md-subhead">Unesite prefikse, parametre i logičke operatore a zatim kliknite na dugme "Pretraži".</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <div layout="row" layout-align="center">
                <md-input-container flex="30">
                    <label>Prefiksi</label>
                    <md-select name="favoriteColor" ng-model="favoriteColor">
                        <md-optgroup label="Prefiksi">
                            <!-- Ukoliko postoji vrednost od prefiksa, ona se prikazuje, u suprotnom ime prefiksa se prikazuje. -->
                            <md-option ng-repeat="(name,value) in availablePrefixes" ng-if="value"
                                       ng-value="name">{{ value }}</md-option>
                            <md-option ng-repeat="(name,value) in availablePrefixes" ng-if="!value"
                                       ng-value="name">{{ name }}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                    <label>Parametar</label>
                    <input>
                </md-input-container>

                <md-input-container>
                    <label>Operator</label>
                    <md-select ng-model="asdf">
                        <md-option><em>AND</em></md-option>
                        <md-option><em>OR</em></md-option>
                    </md-select>

                </md-input-container>

                <md-button class="small">
                    <md-icon>clear</md-icon>
                </md-button>
            </div>

            <div layout="row" layout-align="center">
                <md-button class="md-raised md-primary capitalized">Pretraži</md-button>
                <md-button class="md-primary capitalized">Istorija pretrage</md-button>

            </div>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Dodavanje prefiksa</span>
                <span class="md-subhead">Izaberite neki od prefiksa iz padajuće liste i kliknite "Dodaj".</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <div layout="row" layout-align="center">
                <md-input-container flex="30">
                    <label>Prefiksi</label>
                    <md-select ng-model="$root.tempEntry.prefix">
                        <md-optgroup label="Prefiksi">
                            <!-- Ukoliko postoji vrednost od prefiksa, ona se prikazuje, u suprotnom ime prefiksa se prikazuje. -->
                            <md-option ng-repeat="(name,value) in availablePrefixes" ng-if="value"
                                       ng-value="name">{{ value }}</md-option>
                            <md-option ng-repeat="(name,value) in availablePrefixes" ng-if="!value"
                                       ng-value="name">{{ name }}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                    <label>Parametar</label>
                    <input ng-model="$root.tempEntry.parameter">
                </md-input-container>

                <md-input-container>
                    <md-select ng-model="$root.tempEntry.operator" placeholder="Operatori">
                        <md-optgroup label="Operatori">
                            <md-option value="AND">AND</md-option>
                            <md-option value="OR">OR</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="row" layout-align="center">
                <md-button class="md-raised md-primary capitalized" ng-click="addEntry()">Dodaj</md-button>
            </div>
        </md-card-content>
    </md-card>

</div>