<div class="container">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Pretraga knjiga</span>
                <span class="md-subhead">Unesite prefikse, parametre i logičke operatore a zatim kliknite na dugme "Pretraži".</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <div ng-repeat-start="(key, value) in $root.entries" layout="row" layout-align="center">

                <md-input-container flex="30">
                    <label>Prefiksi</label>
                    <md-select ng-model="$root.entries[key].prefix">
                        <md-optgroup label="Prefiksi">
                            <!-- Ukoliko postoji vrednost od prefiksa, ona se prikazuje, u suprotnom ime prefiksa se prikazuje. -->
                            <md-option ng-repeat="prefix in availablePrefixes" ng-if="prefix.value"
                                       ng-value="prefix.name">{{ prefix.value }}</md-option>
                            <md-option ng-repeat="prefix in availablePrefixes" ng-if="!prefix.value"
                                       ng-value="prefix.name">{{ prefix.name }}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                    <label>Parametar</label>
                    <input ng-model="$root.entries[key].parameter">
                </md-input-container>

                <md-input-container>
                    <md-select ng-model="$root.entries[key].operator" placeholder="Operatori">
                        <md-optgroup label="Operatori">
                            <md-option value="AND">AND</md-option>
                            <md-option value="OR">OR</md-option>
                    </md-select>
                </md-input-container>

                <md-button class="small" ng-click="removeEntry(key)">
                    <md-icon>clear</md-icon>
                </md-button>
            </div>
            <div ng-repeat-end=""></div>

            <div layout="row" layout-align="center">
                <md-button class="md-raised md-primary capitalized" ng-click="getBooks()">Pretraži</md-button>
                <md-button class="md-primary capitalized">Istorija pretrage</md-button>

            </div>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Dodavanje prefiksa</span>
                <span class="md-subhead">Izaberite neki od prefiksa iz padajuće liste i kliknite "Dodaj".</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <div layout="row" layout-align="center">
                <md-input-container flex="30">
                    <label>Prefiksi</label>
                    <md-select ng-model="$root.tempEntry.prefix">
                        <md-optgroup label="Prefiksi">
                            <!-- Ukoliko postoji vrednost od prefiksa, ona se prikazuje, u suprotnom ime prefiksa se prikazuje. -->
                            <md-option ng-repeat="prefix in availablePrefixes" ng-if="prefix.value"
                                       ng-value="prefix.name">{{ prefix.value }}</md-option>
                            <md-option ng-repeat="prefix in availablePrefixes" ng-if="!prefix.value"
                                       ng-value="prefix.name">{{ prefix.name }}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                    <label>Parametar</label>
                    <input ng-model="$root.tempEntry.parameter">
                </md-input-container>

                <md-input-container>
                    <md-select ng-model="$root.tempEntry.operator" placeholder="Operatori">
                        <md-optgroup label="Operatori">
                            <md-option value="AND">AND</md-option>
                            <md-option value="OR">OR</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="row" layout-align="center">
                <md-button class="md-raised md-primary capitalized" ng-click="addEntry()">Dodaj</md-button>
            </div>
        </md-card-content>
    </md-card>


    <!-- Tabela sa rezultatima -->
    <md-card ng-show="$root.tableVisible">
        <md-card-title>
            <span class="md-headline">Rezultati pretrage</span>
        </md-card-title>

        <md-card-content>
            <div layout-align="center">
                <md-data-table-container>
                    <table md-data-table>
                        <thead md-trim-column-names>
                        <tr>
                            <th>#</th>
                            <th>Naslov</th>
                            <th>Autor</th>
                            <th>Izdavač</th>
                            <th>Godina izdanja</th>
                            <th>Mesto izdanja</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="book in $root.books">
                            <tr>
                                <td>{{ $index + 1}}</td>
                                <td>{{ book['200']['a'] }}</td>
                                <td>{{ book['700']['a'] }} {{ book['700']['b'] }}</td>
                                <td>{{ book['210']['c'] }}</td>
                                <td>{{ book['210']['d'] }}</td>
                                <td>{{ book['210']['c'] }}</td>
                                <td><md-button class="md-raised md-primary capitalized" ng-click="showAdvanced($event, book)">Pun prikaz</md-button></td>
                            </tr>
                        </tbody>
                    </table>
                </md-data-table-container>
            </div>
        </md-card-content>
    </md-card>
</div>